*{
    color:red
}
body{
    border:10px;
    background-color: black;
    padding-left:150px ;
    padding-top: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
    border:10px;
    border-color: whitesmoke
    ;
    border-style: groove;
}
button:hover{
background-color: aqua;
}
